/* Write your CSS here */

.maincontainer {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mainheading {
  font-size: 20px;
  color: #1e293b;
  font-weight: bold;
}
.inputcontainer {
  border-radius: 4px;
  color: #7b8794;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid #7b8794;
}
.input {
  border: 0px transparent;
  font-weight: bold;
  color: #1e293b;
  background-color: transparent;
}
.searchicon {
  width: 20px;
  height: auto;
}
.tablist {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-bottom: 1px #7b8794;
}
.applist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
