/* Write your CSS here */

.eachtablist {
  border-bottom: 1px solid #7b8794;
  width: 25%;
  margin-right: 0px;
  padding-right: 2px;
  padding-left: 2px;
  text-align: center;
}

.button {
  border: 0px;
  background-color: transparent;
}

.tab {
  font-size: 15px;
  color: #7b8794;
}

.selectedtablist {
  border-bottom: 1px solid #2563eb;
}
.seletedtab {
  color: blue;
}
